h1{
    font-family: tahoma;
    color: blue;
    text-align: center;
    font-size: 90px;
    font-weight: bold;
}
p{
    font-family: tahoma;
    color: brown;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
